<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="utf-8">
<title>Find Home - Real Estate HTML Template</title>
<!-- Stylesheets -->
<link th:href="@{/css/bootstrap.css}" rel="stylesheet">
<link th:href="@{/css/style.css}" rel="stylesheet">
<link th:href="@{/css/responsive.css}" rel="stylesheet">
<link th:href="@{/css/gallery-upload.css}" rel="stylesheet">

<link rel="shortcut icon" th:href="@{/images/favicon.png}" type="image/x-icon">
<link rel="icon" th:href="@{/images/favicon.png}" type="image/x-icon">
<!-- Responsive -->
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">

</head>

<body>
<button id="back-to-top-btn"><i class="la la-angle-double-up"></i></button>
<div class="page-wrapper">
    <!-- Preloader -->
    <div class="preloader"></div>


    <!-- Main Header-->
    <div th:replace="~{user/fragments/fragUserHeader.html}"></div>
    <!--End Main Header -->

    <!--Page Title-->
    <section class="page-title" style="background-image:url(images/background/7.jpg);">
        <div class="auto-container">
            <div class="inner-container clearfix">
                <h1>Нове оголошення</h1>
                <ul class="bread-crumb clearfix">
                    <li><a href="/">Головна</a></li>
                    <li>Добавити</li>
                </ul>
            </div>
        </div>
    </section>
    <!--End Page Title-->

    <div class="dashboard">
        <div class="container-fluid">
            <div class="content-area">
                <div class="dashboard-content">
                    <div class="dashboard-header clearfix">
                        <div class="row">
                            <div class="col-md-12 col-sm-12">
                                <h4>Сторінка нерухомості</h4>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="column col-lg-12">
                            <div class="properties-box">
                                <div class="inner-container">
                                    <div class="property-submit-form">
                                        <form method="post" action="/user/flats/create" enctype="multipart/form-data">
                                            <div class="title">
                                                <h3>Фотогалерея</h3>
                                            </div>

                                            <div class="row d-flex align-items-center" id="galleryItems">
                                                <!-- Form Group -->
                                                <div class="form-group col-sm-6 col-md-4 col-lg-3 image-col">
                                                    <div class="avatar-upload">
                                                        <div class="avatar-edit">
                                                            <input type='file' id="imageUpload-1" name="files" accept=".png, .jpg, .jpeg" onchange="readURL(this)"/>
                                                            <label for="imageUpload-1"></label>
                                                        </div>
                                                        <div class="avatar-preview">
                                                            <div id="imagePreview-1"
                                                                 style="background-image: url('../../images/icons/home.jpg');">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="col-sm-6 col-md-4 col-lg-3 image-col" id="addImageBtn">
                                                    <button class="add-button" onclick="createNewInput()" type="button"></button>
                                                </div>
                                            </div>

                                            <div class="title">
                                                <h3>Загальна інформація</h3>
                                            </div>
                                            <div class="row">
                                                <!-- Form Group -->
                                                <div class="form-group col-lg-3 col-md-6 col-sm-12">
                                                    <label>Назва</label>
                                                    <input type="text" name="name" placeholder="Назва..." required>
                                                </div>

                                                <!-- Form Group -->
                                                <div class="form-group col-lg-3 col-md-6 col-sm-12">
                                                    <label>Район</label>
                                                    <select class="custom-select-box" name="district.id">
                                                        <option th:each="d:${listOfDistricts}" th:text="${d.getName()}" th:value="${d.getId()}">Country</option>
                                                    </select>
                                                </div>

                                                <!-- Form Group -->
                                                <div class="form-group col-lg-3 col-md-6 col-sm-12">
                                                    <label>Адреса</label>
                                                    <input type="text" name="address" placeholder="Адреса..."
                                                           required>
                                                </div>

                                                <!-- Form Group -->
                                                <div class="form-group col-lg-3 col-md-6 col-sm-12">
                                                    <label>Вартість</label>
                                                    <input type="number" min="0" step="1" max="999999999"
                                                           autocomplete="off" name="price" placeholder="Вартість..."
                                                           required>
                                                </div>

                                                <!-- Form Group -->
                                                <div class="form-group col-lg-3 col-md-6 col-sm-12">
                                                    <label>Кількість кімнат</label>
                                                    <input type="number" min="1" step="1" max="1000"
                                                           autocomplete="off" name="countOfRooms"
                                                           placeholder="Кількість кімнат..." required>
                                                </div>

                                                <!-- Form Group -->
                                                <div class="form-group col-lg-3 col-md-6 col-sm-12">
                                                    <label>Поверх</label>
                                                    <input type="number" min="1" step="1" max="100"
                                                           autocomplete="off" name="floor" placeholder="Поверх..."
                                                           required>
                                                </div>

                                                <!-- Form Group -->
                                                <div class="form-group col-lg-3 col-md-6 col-sm-12">
                                                    <label>Площа</label>
                                                    <input type="number" min="0" step="any" max="999999999"
                                                           autocomplete="off" name="area" placeholder="Площа..."
                                                           required>
                                                </div>

                                                <!-- Form Group -->
                                                <div class="form-group col-lg-3 col-md-6 col-sm-12">
                                                    <label>Рік здачі будинку</label>
                                                    <input type="number" minlength="4" maxlength="4" value="2021"
                                                           autocomplete="off" name="yearOfEndingDevelopment"
                                                           placeholder="Рік здачі будинку..." required >
                                                </div>

                                                <!-- Form Group -->
                                                <div class="form-group col-12">
                                                    <div class="range-slider-one clearfix">
                                                        <label>Детальний опис</label>
                                                        <textarea placeholder="Детальний опис..." name="description"></textarea>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="title">
                                                <h3>Інфраструктура</h3>
                                            </div>
                                            <div class="row">
                                                <div class="form-group col-lg-3 col-md-6 col-sm-12 " th:each="inf : ${listOfInfrastructure}">
                                                    <div class="check-box">
                                                        <input type="checkbox" name="shipping-option"
                                                               th:id="'service-'+${inf.getId()}" onchange="setHiddenId(this)">
                                                        <label th:for="'service-'+${inf.getId()}" th:text="${inf.getName()}">Air Conditioning</label>
                                                        <input type="text" class="choosen-service" name="listOfInf" hidden="hidden">
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <!-- Form Group -->
                                                <div class="form-group col-lg-3 col-md-6 col-sm-12">
                                                    <button type="submit" class="theme-btn btn-style-one">
                                                        Добавити</button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>



    <!-- Main Footer -->
    <div th:replace="~{user/fragments/fragUserFooter.html}"></div>
    <!-- End Main Footer -->
</div>
    
<script th:src="@{/js/jquery.js}"></script>
<script th:src="@{/js/popper.min.js}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>
<script th:src="@{/js/jquery-ui.js}"></script>
<script th:src="@{/js/wow.js}"></script>
<script th:src="@{/js/dropzone.js}"></script>
<script th:src="@{/js/appear.js}"></script>
<script th:src="@{/js/script.js}"></script>
<script th:src="@{/js/scroll.js}"></script>
<script>
    ind = 2;

    let addBtn = '<div class="col-sm-6 col-md-4 col-lg-3 image-col" id="addImageBtn">\n' +
        '         <button class="add-button"\n' +
        '              onclick="createNewInput()" type="button"></button>\n' +
        '    </div>';

    function readURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();
            reader.onload = function (e) {
                let prev = "#imagePreview-"+($(input).attr('id').replace( /^\D+/g, '')).toString();
                console.log("id: "+ prev);
                $($(input).parent().parent().find(prev)).css('background-image', 'url(' + e.target.result + ')');
                $($(input).parent().parent().find(prev)).hide();
                $($(input).parent().parent().find(prev)).fadeIn(650);
            }
            reader.readAsDataURL(input.files[0]);
            if(!document.getElementById('addImageBtn')){
                $('#galleryItems').append(addBtn);
            }
        }
    }

    function createNewInput() {
        $('#addImageBtn').remove();
        let inputElement = '<div class="form-group col-sm-6 col-md-4 col-lg-3 image-col">\n' +
            '                   <div class="avatar-upload">\n' +
            '                       <div class="avatar-edit">\n' +
            '                           <input type="file" id="imageUpload='+ind+'" name="files" accept=".png, .jpg, .jpeg" onchange="readURL(this)"/>\n' +
            '                           <label for="imageUpload='+ind+'"></label>\n' +
            '                       </div>\n' +
            '                       <button type="button" class="avatar-delete" onclick="removeInput(this)">&#215;</button>\n' +
            '                       <div class="avatar-preview">\n' +
            '                       <div id="imagePreview-'+ind+'"\n' +
            '                           style="background-image: url(\'../../images/icons/home.jpg\');">\n' +
            '                       </div>\n' +
            '                    </div>\n' +
            '                </div>\n' +
            '           </div>';
        $('#galleryItems').append(inputElement);
        ind++;
    }

    function removeInput(btnObj){
        $(btnObj).parent().parent().remove();
        if(!document.getElementById('addImageBtn')){
            $('#galleryItems').append(addBtn);
        }
    }

    function setHiddenId(input){
        if ($(input).is(':checked')===true){
            let id = ($(input).attr('id').replace( /^\D+/g, '')).toString()
            $(input).parent().find('.choosen-service').attr('value', id);
        }else {
            $(input).parent().find('.choosen-service').removeAttr('value');
        }
    }
</script>
</body>

</html>