<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="utf-8">
    <title>Find Home - Real Estate HTML Template</title>
    <!-- Stylesheets -->
    <link th:href="@{/css/bootstrap.css}" rel="stylesheet">
    <link th:href="@{/css/style.css}" rel="stylesheet">
    <link th:href="@{/css/responsive.css}" rel="stylesheet">

    <link rel="shortcut icon" href="images/favicon.png" type="image/x-icon">
    <link rel="icon" href="images/favicon.png" type="image/x-icon">
    <!-- Responsive -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">

</head>

<body>
    <button id="back-to-top-btn"><i class="la la-angle-double-up"></i></button>
    <div class="page-wrapper">
        <!-- Preloader -->
        <div class="preloader"></div>

        <!-- Main Header-->
        <div th:replace="~{user/fragments/fragUserHeader.html}"></div>
        <!--End Main Header -->

        <!--Page Title-->
        <section class="page-title" style="background-image:url(images/background/7.jpg);">
            <div class="auto-container">
                <div class="inner-container clearfix">
                    <h1>Список пропозицій</h1>
                    <ul class="bread-crumb clearfix">
                        <li><a href="/">Головна</a></li>
                        <li>Нерухомість</li>
                    </ul>
                </div>
            </div>
        </section>
        <!--End Page Title-->

        <!-- Sidebar Page Container -->
        <div class="sidebar-page-container">
            <div class="auto-container">
                <div class="row clearfix">
                    <!--Content Side-->
                    <div class="content-side col-lg-8 col-md-12 col-sm-12">
                        <div class="property-grid-view">
                            <div class="upper-box clearfix">
                                <div class="sec-title">
                                    <span class="title">Знайдіть свій дім у своєму місті</span>
                                    <h2>Всі пропозиції</h2>
                                </div>
                            </div>

                            <div class="row">
                                <!-- Property Block -->
                                <div class="property-block col-xl-6 col-lg-12 col-md-12 col-sm-12" th:each="flat : ${listOfFlats}">
                                    <div class="inner-box">
                                        <div class="image-box">
                                            <figure class="image"><img th:if="${flat.getImages().size()>0}" th:src="@{'/getImg-'+${flat.getImages()?.get(0)?.getId()}}" alt="">
                                            </figure>
                                            <a href="javascript:void(0);" sec:authorize="hasAuthority('USER')" th:id="${flat.getId()}" onclick="addToWishlist(this.id)" class="for">ДО ОБРАНИХ</a>
                                            <a th:href="@{'/deleteFlat-'+${flat?.getId()}}" class="featured" sec:authorize="hasAuthority('ROLE_ADMIN')">Видалити</a>
                                        </div>
                                        <div class="lower-content">
                                            <div class="thumb"><img th:src="@{'/getImg-'+${flat?.getCreatedBy()?.getImage()?.getId()}}"  alt=""></div>
                                            <h3><a th:href="@{'/flat-'+${flat.getId()}}" th:text="${flat.getName()}"></a></h3>
                                            <div class="lucation"><i class="la la-map-marker"></i> <span th:text="'('+${flat?.getDistrict()?.getName()}+') '+${flat.getAddress()}"></span></div>
                                            <ul class="property-info clearfix">
                                                <li><i class="flaticon-money"></i><span th:text="${flat.getPrice()}"></span> USD</li>
                                                <li><i class="flaticon-sketch-1"></i>кімнат: <span th:text="${flat.getCountOfRooms()}"></span></li>
                                                <li><i class="flaticon-building"></i>поверх: <span th:text="${flat.getFloor()}"></span></li>
                                                <li><i class="flaticon-home-key"></i>рік: <span th:text="${flat.getYearOfEndingDevelopment()}"></span></li>
                                                <li><i class="flaticon-snowflake"></i><span th:text="${flat?.getHeatingType()?.getValue()}"></span></li>
                                                <li><i class="flaticon-worker"></i><span th:text="${flat?.getMaterialType()?.getValue()}"></span></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <!-- Pagination -->
                            <div class="styled-pagination">
                                <ul class="clearfix">
                                    <li class="prev" th:if="${page>1}"><a th:href="${currentLinkWithoutPage}+'&page='+${page - 1}"><span>Попередня</span></a></li>
                                    <li><span>/</span></li>
<!--                                    <li class="active"><a href="#"><span>2</span></a></li>-->
<!--                                    <li><a href="#"><span>3</span></a></li>-->
<!--                                    <li><a href="#"><span>4</span></a></li>-->
                                    <li class="next" th:if="${page<countOfPages}"><a th:href="${currentLinkWithoutPage}+'&page='+${page + 1}"><span>Наступна</span></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <!--Sidebar Side-->
                    <div class="sidebar-side col-lg-4 col-md-12 col-sm-12">
                        <aside class="sidebar default-sidebar">

                            <!--search box-->
                            <!-- <div class="sidebar-widget sort-by">
                                <select class="custom-select-box">
                                    <option>Sort By</option>
                                    <option>Residential</option>
                                    <option>Commercial</option>
                                    <option>Industrial</option>
                                    <option>Apartments</option>
                                </select>
                            </div> -->

                            <!-- Categories -->
                            <div class="sidebar-widget search-properties">
                                <div class="sidebar-title">
                                    <h2>Фільтрація</h2>
                                </div>
                                <!-- Property Search Form -->
                                <div class="property-search-form style-three">
                                    <form method="get" action="/allFlats">
                                        <div class="row no-gutters">
                                            <!-- Form Group -->
                                            <div class="form-group">
                                                <label style="margin-bottom: 10px;">Район</label>
                                                <select class="custom-select-box" name="districtsId">
                                                    <option value="0">Всі райони</option>
                                                    <option th:each="d : ${listOfDistricts}" th:value="${d.getId()}" th:text="${d.getName()}" th:selected="${d.getId()==districtId}">New York</option>
                                                </select>
                                            </div>

                                            <!-- Form Group -->
                                            <div class="form-group">
                                                <label>Тип опалення</label>
                                                <select class="custom-select-box" name="heatingType">
                                                    <option value="0">Всі типи</option>
                                                    <option th:each="h:${listOfHeatingTypes}" th:text="${h.getValue()}" th:value="${h.name()}" th:selected="${heatingType.equals(h.name())}"></option>
                                                </select>
                                            </div>

                                            <!-- Form Group -->
                                            <div class="form-group">
                                                <label>Матеріал</label>
                                                <select class="custom-select-box" name="materialType">
                                                    <option value="0">Всі матеріали</option>
                                                    <option th:each="m:${listOfMaterialsTypes}" th:text="${m.getValue()}" th:value="${m.name()}" th:selected="${materialType.equals(m.name())}"></option>
                                                </select>
                                            </div>

                                            <!-- Form Group -->
                                            <div class="form-group">
                                                <input type="number" hidden="hidden" value="10" id="priceSliderStartRangePoint"  th:value="${priceMinInit}">
                                                <input type="number" hidden="hidden" value="20" id="priceSliderEndRangePoint"  th:value="${priceMaxInit}">

                                                <input type="number" hidden="hidden" value="10" id="priceSliderSelectedStartRangePoint" name="priceMin" th:value="${priceMin}">
                                                <input type="number" hidden="hidden" value="20" id="priceSliderSelectedEndRangePoint" name="priceMax" th:value="${priceMax}">

                                                <div class="range-slider-one clearfix">
                                                    <label>Ціна</label>
                                                    <div class="price-range-slider"></div>
                                                    <div class="input">
                                                        <input type="text" class="price-amount" readonly></div>
                                                    <div class="title">USD</div>
                                                </div>
                                            </div>

                                            <!-- Form Group -->
                                            <div class="form-group">
                                                <input type="number" hidden="hidden" value="2000" id="yearSliderStartRangePoint" th:value="${yearMinInit}">
                                                <input type="number" hidden="hidden" value="2021" id="yearSliderEndRangePoint" th:value="${yearMaxInit}">

                                                <input type="number" hidden="hidden" value="2000" id="yearSliderSelectedStartRangePoint" name="yearMin" th:value="${yearMin}">
                                                <input type="number" hidden="hidden" value="2021" id="yearSliderSelectedEndRangePoint" name="yearMax" th:value="${yearMax}">

                                                <div class="range-slider-one clearfix">
                                                    <label>Рік здачі будинку</label>
                                                    <div class="year-range-slider"></div>
                                                    <div class="input">
                                                        <input type="text" class="year-amount" readonly>
                                                    </div>
                                                </div>
                                            </div>

                                            <!-- Form Group -->
                                            <div class="form-group">
                                                <input type="number" hidden="hidden" value="1" id="roomsSliderStartRangePoint" th:value="${roomsMinInit}">
                                                <input type="number" hidden="hidden" value="10" id="roomsSliderEndRangePoint" th:value="${roomsMaxInit}">

                                                <input type="number" hidden="hidden" value="1" id="roomsSliderSelectedStartRangePoint" name="countOfRoomsMin" th:value="${roomsMin}">
                                                <input type="number" hidden="hidden" value="10" id="roomsSliderSelectedEndRangePoint" name="countOfRoomsMax" th:value="${roomsMax}">

                                                <div class="range-slider-one clearfix">
                                                    <label>Кількість кімнат</label>
                                                    <div class="rooms-range-slider"></div>
                                                    <div class="input">
                                                        <input type="text" class="rooms-amount" readonly>
                                                    </div>
                                                </div>
                                            </div>

                                            <!-- Form Group -->
<!--                                            <div class="form-group">-->
<!--                                                <input type="number" hidden="hidden" value="1" id="floorSliderStartRangePoint" name="minFloor">-->
<!--                                                <input type="number" hidden="hidden" value="15" id="floorSliderEndRangePoint" name="maxFloor">-->

<!--                                                <input type="number" hidden="hidden" value="1" id="floorSliderSelectedStartRangePoint" name="minSelectedFloor">-->
<!--                                                <input type="number" hidden="hidden" value="15" id="floorSliderSelectedEndRangePoint" name="maxSelectedFloor">-->

<!--                                                <div class="range-slider-one clearfix">-->
<!--                                                    <label>Поверх</label>-->
<!--                                                    <div class="floor-range-slider"></div>-->
<!--                                                    <div class="input">-->
<!--                                                        <input type="text" class="floor-amount" name="field-name" readonly>-->
<!--                                                    </div>-->
<!--                                                </div>-->
<!--                                            </div>-->

                                            <!-- Form Group -->
                                            <div class="form-group">
                                                <label style="margin-bottom: 10px;">Інфраструктура</label>
                                            </div>

                                            <div class="form-group">
                                                <ul class="filter-submit-form">
                                                    <li class="check-box" th:each="inf : ${listOfInfs}">
                                                        <input type="checkbox"  th:id="'service-'+${inf.getId()}" th:checked="${checkedInfs?.contains(inf.getId)}" onchange="setHiddenId(this)">
                                                        <label th:for="'service-'+${inf.getId()}" th:text="${inf.getName()}">Air Conditioning</label>
                                                        <input type="text" class="choosen-service" name="infs" hidden="hidden" th:value="(${checkedInfs?.contains(inf.getId)})? ${inf.getId()}:''">
                                                    </li>

                                                </ul>
                                            </div>

                                            <!-- Form Group -->
                                            <div class="form-group">
                                                <button type="submit" class="theme-btn btn-style-one">Знайти</button>
                                            </div>

                                        </div>
                                    </form>
                                </div>
                                <!-- End Form -->
                            </div>


                            <!-- Recent Properties -->
<!--                            <div class="sidebar-widget recent-properties">-->
<!--                                <div class="sidebar-title">-->
<!--                                    <h2>Недавно переглянуті</h2>-->
<!--                                </div>-->
<!--                                <div class="widget-content">-->
<!--                                    &lt;!&ndash; Post &ndash;&gt;-->
<!--                                    <article class="post">-->
<!--                                        <div class="post-thumb">-->
<!--                                            <a href="blog-detail.html">-->
<!--                                                <img src="images/resource/property-thumb-1.jpg" alt="">-->
<!--                                            </a>-->
<!--                                        </div>-->
<!--                                        <span class="location">London, UK</span>-->
<!--                                        <h3><a href="blog-detail.html">Laxury Balles Villa</a></h3>-->
<!--                                        <div class="price">$ 760,000</div>-->
<!--                                    </article>-->

<!--                                    &lt;!&ndash; Post &ndash;&gt;-->
<!--                                    <article class="post">-->
<!--                                        <div class="post-thumb">-->
<!--                                            <a href="blog-detail.html">-->
<!--                                                <img src="images/resource/property-thumb-2.jpg" alt="">-->
<!--                                            </a>-->
<!--                                        </div>-->
<!--                                        <span class="location">London, UK</span>-->
<!--                                        <h3><a href="blog-detail.html">Laxury Balles Villa</a></h3>-->
<!--                                        <div class="price">$ 760,000</div>-->
<!--                                    </article>-->

<!--                                    &lt;!&ndash; Post &ndash;&gt;-->
<!--                                    <article class="post">-->
<!--                                        <div class="post-thumb">-->
<!--                                            <a href="blog-detail.html">-->
<!--                                                <img src="images/resource/property-thumb-3.jpg" alt="">-->
<!--                                            </a>-->
<!--                                        </div>-->
<!--                                        <span class="location">London, UK</span>-->
<!--                                        <h3><a href="blog-detail.html">Laxury Balles Villa</a></h3>-->
<!--                                        <div class="price">$ 760,000</div>-->
<!--                                    </article>-->

<!--                                    &lt;!&ndash; Post &ndash;&gt;-->
<!--                                    <article class="post">-->
<!--                                        <div class="post-thumb">-->
<!--                                            <a href="blog-detail.html">-->
<!--                                                <img src="images/resource/property-thumb-4.jpg" alt="">-->
<!--                                                <span class="status">Rent</span>-->
<!--                                            </a>-->
<!--                                        </div>-->
<!--                                        <span class="location">London, UK</span>-->
<!--                                        <h3><a href="blog-detail.html">Laxury Balles Villa</a></h3>-->
<!--                                        <div class="price">$ 760,000</div>-->
<!--                                    </article>-->
<!--                                </div>-->
<!--                            </div>-->

                        </aside>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Sidebar Container -->


        <!-- Main Footer -->
        <div th:replace="~{user/fragments/fragUserFooter.html}"></div>
        <!-- End Main Footer -->

    </div>
    <!--End pagewrapper-->

    <script th:src="@{/js/jquery.js}"></script>
    <script th:src="@{/js/popper.min.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
    <script th:src="@{/js/jquery-ui.js}"></script>
    <script th:src="@{/js/jquery.fancybox.js}"></script>
    <script th:src="@{/js/owl.js}"></script>
    <script th:src="@{/js/wow.js}"></script>
    <script th:src="@{/js/isotope.js}"></script>
    <script th:src="@{/js/mixitup.js}"></script>
    <script th:src="@{/js/appear.js}"></script>
    <script th:src="@{/js/script.js}"></script>
    <script th:src="@{/js/scroll.js}"></script>
    <script>
        function setHiddenId(input){
            if ($(input).is(':checked')===true){
                let id = ($(input).attr('id').replace( /^\D+/g, '')).toString()
                $(input).parent().find('.choosen-service').attr('value', id);
            }else {
                $(input).parent().find('.choosen-service').removeAttr('value');
            }
        }

        function addToWishlist(id) {
            console.log(id);
            $.ajax({
                method: "post",
                url: "/user/flats/addWishItem-"+id,
                contextType: "application/json",
                success: function () {
                    console.log("Success!");
                },
                error: function () {
                    console.log("Error!");
                }
            }); //ajax end
        }
    </script>
</body>

</html>