<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <title>Find Home - Real Estate HTML Template</title>
    <!-- Stylesheets -->
    <link th:href="@{/css/bootstrap.css}" rel="stylesheet">
    <link th:href="@{/css/style.css}" rel="stylesheet">
    <link th:href="@{/css/responsive.css}" rel="stylesheet">
    <link th:href="@{/css/image-upload.css}" rel="stylesheet">

    <link rel="shortcut icon" href="images/favicon.png" type="image/x-icon">
    <link rel="icon" href="images/favicon.png" type="image/x-icon">
    <!-- Responsive -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">

</head>

<body>
    <button id="back-to-top-btn"><i class="la la-angle-double-up"></i></button>
    <div class="page-wrapper">
        <!-- Preloader -->
        <div class="preloader"></div>

        <!-- Main Header-->
        <div th:replace="~{user/fragments/fragUserHeader.html}"></div>
        <!--End Main Header -->

        <!--Page Title-->
        <section class="page-title" style="background-image:url(images/background/7.jpg);">
            <div class="auto-container">
                <div class="inner-container clearfix">
                    <h1>Мій акаунт</h1>
                    <ul class="bread-crumb clearfix">
                        <li><a href="/">Головна</a></li>
                        <li>Профіль</li>
                    </ul>
                </div>
            </div>
        </section>
        <!--End Page Title-->

        <!-- Sidebar Page Container -->
        <div class="sidebar-page-container">
            <div class="auto-container">
                <div class="row clearfix" style="justify-content: flex-end;">
                    <!--Content Side-->
                    <div class="content-side col-lg-6 col-md-12 col-sm-12">
                        <div class="upper-box clearfix">
                            <div class="sec-title">
                                <span class="title">Персональні дані</span>
                                <h2>Налаштування</h2>
                            </div>
                        </div>
                        <!-- Register Form -->
                        <div class="login-form register-form">
                            <!--Login Form-->
                            <form method="post" action="/account" enctype="multipart/form-data">
                                <input type="number" name="id" th:value="${user.getId()}" hidden="hidden">
                                <div class="avatar-upload">
                                    <div class="avatar-edit">
                                        <input type='file' id="imageUpload" name="multipartFile" accept=".png, .jpg, .jpeg" />
                                        <label for="imageUpload"></label>
                                    </div>
                                    <div class="avatar-preview">
                                        <div id="imagePreview"
                                            th:style="'background-image: url(\'/getImg-'+${user?.getImage()?.getId()}+'\');'">
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label>ПІБ</label>
                                    <input type="text" name="fullName" placeholder="ПІБ..." th:value="${user.getFullName()}" required>
                                </div>

                                <div class="form-group">
                                    <label>Email</label>
                                    <input type="email" name="mail" placeholder="Email..." th:value="${user.getMail()}" required>
                                </div>

                                <div class="form-group">
                                    <label>Телефон</label>
                                    <input type="tel" name="phone" placeholder="Телефон..." required th:value="${user.getPhone()}" class="phone_number">
                                </div>

                                <div class="form-group">
                                    <label>Новий пароль</label>
                                    <input type="password" name="password" placeholder="Пароль..." >
                                </div>

                                <div class="form-group">
                                    <label>Підтвердження паролю</label>
                                    <input type="password" name="confirmPassword" placeholder="Пароль..." >
                                </div>

                                <div class="form-group centered">
                                    <button class="theme-btn btn-style-one" type="submit"
                                        name="submit-form">Зберегти</button>
                                </div>
                            </form>
                        </div>
                        <!--End Register Form -->
                    </div>

                    <!--Sidebar Side-->
                    <div class="sidebar-side col-lg-4 col-md-12 col-sm-12">
                        <aside class="sidebar default-sidebar">

                            <!-- Recent Properties -->
                            <div class="sidebar-widget recent-properties">
                                <div class="sidebar-title">
                                    <h2>Недавно переглянуті</h2>
                                </div>
                                <div class="widget-content">
                                    <!-- Post -->
                                    <article class="post">
                                        <div class="post-thumb">
                                            <a href="blog-detail.html">
                                                <img src="images/resource/property-thumb-1.jpg" alt="">
                                            </a>
                                        </div>
                                        <span class="location">London, UK</span>
                                        <h3><a href="blog-detail.html">Laxury Balles Villa</a></h3>
                                        <div class="price">$ 760,000</div>
                                    </article>

                                    <!-- Post -->
                                    <article class="post">
                                        <div class="post-thumb">
                                            <a href="blog-detail.html">
                                                <img src="images/resource/property-thumb-2.jpg" alt="">
                                            </a>
                                        </div>
                                        <span class="location">London, UK</span>
                                        <h3><a href="blog-detail.html">Laxury Balles Villa</a></h3>
                                        <div class="price">$ 760,000</div>
                                    </article>

                                    <!-- Post -->
                                    <article class="post">
                                        <div class="post-thumb">
                                            <a href="blog-detail.html">
                                                <img src="images/resource/property-thumb-3.jpg" alt="">
                                            </a>
                                        </div>
                                        <span class="location">London, UK</span>
                                        <h3><a href="blog-detail.html">Laxury Balles Villa</a></h3>
                                        <div class="price">$ 760,000</div>
                                    </article>

                                    <!-- Post -->
                                    <article class="post">
                                        <div class="post-thumb">
                                            <a href="blog-detail.html">
                                                <img src="images/resource/property-thumb-4.jpg" alt="">
                                            </a>
                                        </div>
                                        <span class="location">London, UK</span>
                                        <h3><a href="blog-detail.html">Laxury Balles Villa</a></h3>
                                        <div class="price">$ 760,000</div>
                                    </article>
                                </div>
                            </div>

                        </aside>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Sidebar Container -->

        <!--Popular Places Section-->
        <section class="popular-places-section-two"
                 style="background-image: url(images/background/7.jpg); padding-top: 50px;">
            <div class="auto-container">
                <div class="sec-title light" style="margin-bottom: 40px;">
                    <span class="title">FIND YOUR DREAM HOUSE IN YOUR CITY</span>
                    <h2>Мої оголошення</h2>
                </div>
            </div>

            <div class="popular-places-carousel owl-carousel owl-theme">

                <!-- Popular item -->
                <div class="property-block"
                     style="background-color: white; box-shadow:2px 2px 5px 1px rgba(0,0,0,0.05),-2px 0px 5px 1px rgba(0,0,0,0.1);">
                    <div class="inner-box">
                        <div class="image-box">
                            <figure class="image"><img src="images/resource/property-1.jpg" alt="">
                            </figure>
                        </div>
                        <div class="lower-content" style="padding: 20px 10px;">
                            <div class="thumb"><img src="images/resource/thumb-3.jpg" alt=""></div>
                            <h3><a href="property-detail.html">Single House Near Orland Park.</a></h3>
                            <div class="lucation"><i class="la la-map-marker"></i> 121, King St, VIC
                                3000, New York, United States</div>
                            <ul class="property-info clearfix" style="margin-bottom: 0;">
                                <li><i class="flaticon-money"></i> $ 13,65,000</li>
                                <li><i class="flaticon-bed"></i> 4 Bedrooms</li>
                                <li><i class="flaticon-car"></i> 2 Garage</li>
                                <li><i class="flaticon-bathtub"></i> 3 Bathroom</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--Popular Places End-->


        <!-- Main Footer -->
        <div th:replace="~{user/fragments/fragUserFooter.html}"></div>
        <!-- End Main Footer -->

    </div>
    <!--End pagewrapper-->

    <script th:src="@{/js/jquery.js}"></script>
    <script th:src="@{/js/popper.min.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
    <script th:src="@{/js/jquery-ui.js}"></script>
    <script th:src="@{/js/jquery.fancybox.js}"></script>
    <script th:src="@{/js/owl.js}"></script>
    <script th:src="@{/js/wow.js}"></script>
    <script th:src="@{/js/isotope.js}"></script>
    <script th:src="@{/js/mixitup.js}"></script>
    <script th:src="@{/js/appear.js}"></script>
    <script th:src="@{/js/script.js}"></script>
    <script th:src="@{/js/scroll.js}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.inputmask/3.3.4/jquery.inputmask.bundle.min.js"></script>
    <script>
        $('.phone_number').inputmask('+(999)-999-999-999');
        function readURL(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    $('#imagePreview').css('background-image', 'url(' + e.target.result + ')');
                    $('#imagePreview').hide();
                    $('#imagePreview').fadeIn(650);
                }
                reader.readAsDataURL(input.files[0]);
            }
        }
        $("#imageUpload").change(function () {
            readURL(this);
        });
    </script>
</body>

</html>