<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="utf-8">
<title>Find Home - Real Estate HTML Template </title>
<!-- Stylesheets -->
<link th:href="@{/css/bootstrap.css}" rel="stylesheet">
<link th:href="@{/css/style.css}" rel="stylesheet">
<link th:href="@{/css/responsive.css}" rel="stylesheet">

<link rel="shortcut icon" href="images/favicon.png" type="image/x-icon">
<link rel="icon" href="images/favicon.png" type="image/x-icon">
<!-- Responsive -->
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">

</head>

<body>
      <button id="back-to-top-btn"><i class="la la-angle-double-up"></i></button>
<div class="page-wrapper">
    <!-- Preloader -->
    <div class="preloader"></div>
    
     <!-- Main Header-->
        <div th:replace="~{user/fragments/fragUserHeader.html}"></div>
    <!--End Main Header -->

    <!--Page Title-->
    <section class="page-title" style="background-image:url(images/background/7.jpg);">
        <div class="auto-container">
            <div class="inner-container clearfix">
                <h1>Property Detail</h1>
                <ul class="bread-crumb clearfix">
                    <li><a href="index.html">Home</a></li>
                    <li>Property Detail</li>
                </ul>
            </div>
        </div>
    </section>
    <!--End Page Title-->

    <!-- Sidebar Page Container -->
    <div class="sidebar-page-container">
        <div class="auto-container">
            <div class="upper-info-box">
                <div class="row">
                    <div class="about-property col-lg-8 col-md-12 col-sm-12">
                        <h2 th:text="${flat.getName()}">Modern Apartment in City Center</h2>
                        <div class="location"><i class="la la-map-marker"></i> <span th:text="${flat.getAddress()}">121, King St, VIC 3000, New York, United States</span></div>
                        <ul class="property-info clearfix">
                            <li><i class="flaticon-dimension"></i> <span th:text="${flat.getArea().doubleValue()}">356 Sq-Ft</span></li>
                            <li><i class="flaticon-bed"></i><span th:text="${flat.getCountOfRooms()}"></span></li>
                            <li><i class="flaticon-car"></i><span th:text="${flat.getFloor()}"></span> </li>
                            <li><i class="flaticon-bathtub"></i> <span th:text="${flat?.getDistrict()?.getName()}"></span></li>
                        </ul>
                    </div>
                    <div class="price-column col-lg-4 col-md-12 col-sm-12">
                        <div class="price" th:text="${flat.getPrice().setScale(3)}">$ 13,65,000</div>
                    </div>
                </div>
            </div>
            <div class="row clearfix">
                <!--Content Side-->
                <div class="content-side col-lg-8 col-md-12 col-sm-12">
                    <div class="property-detail">
                        <div class="upper-box">
                            <div class="carousel-outer">
                                <ul class="image-carousel owl-carousel owl-theme">
                                    <li th:each="img : ${flat.getImages()}"><img th:src="@{'/getImg-'+${img.getId()}}" alt=""></li>
                                </ul>
                                
                                <ul class="thumbs-carousel owl-carousel owl-theme">
                                    <li th:each="img : ${flat.getImages()}"><img th:src="@{'/getImg-'+${img.getId()}}" alt=""></li>
                                </ul>
                            </div>
                        </div>

                        <div class="lower-content">
                            <h4>Опис</h4>
                            <p th:text="${flat.getDescription()}">I just hit a lot of land plots in the high tide station near Lidico North of National Highway 32, area 75m2 and 80m2, price 54 million / m2 legal clarity because the source is auctioned Public listing is transparent throughout the city (2050 plan) directly to the people (those who pay a high price will be awarded the lot after 30 days after the full red book) land in time For long term use, this area is located just outside the urban area.</p>
                        </div>

                        <!-- Property Infrastructure -->
                        <div class="property-features">
                            <h4>Інфраструктура</h4>
                            <ul class="list-style-one">
                                <li th:each="inf : ${flat.getInfrastructureList()}" th:text="${inf.getName()}">Price</li>
                            </ul>
                        </div>
                    </div>
                </div>
 
                <!--Sidebar Side-->
                <div class="sidebar-side col-lg-4 col-md-12 col-sm-12">
                    <aside class="sidebar default-sidebar">

                        <!-- Agent Widget -->
                        <div class="sidebar-widget agent-widget">
                            <div class="sidebar-title"><h2>ПРО ВЛАСНИКА</h2></div>
                            <div class="widget-content">
                                <div class="image-box">
                                    <figure class="image"><img th:src="@{'/getImg-'+${flat?.getCreatedBy()?.getImage()?.getId()}}" alt=""></figure>
                                </div>
                                <div class="info-box">
                                    <h4 class="name" th:text="${flat?.getCreatedBy()?.getFullName()}">Olivia Jeams</h4>
                                    <span class="designation"></span>
                                    <ul class="contact-info">
                                        <li><strong>Phone:</strong><span th:text="${flat?.getCreatedBy()?.getPhone()}"></span></li>
                                        <li style="margin-bottom: 0; line-break: anywhere;"><strong>Email:</strong> <span th:text="${flat?.getCreatedBy()?.getMail()}"></span></li>
                                    </ul>
                                </div>
                            </div>
                        </div> 
                        <div class="sidebar-widget agent-widget">
                            <div class="widget-content">
                                <div class="info-box" style="padding: 0;">
                                    <div class="btn-box">
                                        <a href="#" class="theme-btn btn-style-one">ПРОФІЛЬ ВЛАСНИКА</a>
                                        <a href="#" class="theme-btn btn-style-six">ДО ОБРАНИХ</a>
                                    </div>
                                </div>
                            </div>
                        </div>
<!--                        <div class="sidebar-widget agent-widget">-->
<!--                            <div class="widget-content">-->
<!--                                <div class="info-box" style="padding: 0;">-->
<!--                                    <div class="btn-box">-->
<!--                                        <a href="#" style="margin-bottom: 0;" class="theme-btn btn-style-one">ДО ОБРАНИХ</a>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>     -->
                    </aside>
                </div>
            </div>
        </div>
    </div>
    <!-- End Sidebar Container -->


    <!-- Main Footer -->
    <div th:replace="~{user/fragments/fragUserFooter.html}"></div>
    <!-- End Main Footer -->

</div>
<!--End pagewrapper-->

<script th:src="@{/js/jquery.js}"></script>
<script th:src="@{/js/popper.min.js}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>
<script th:src="@{/js/jquery-ui.js}"></script>
<script th:src="@{/js/jquery.fancybox.js}"></script>
<script th:src="@{/js/owl.js}"></script>
<script th:src="@{/js/wow.js}"></script>
<script th:src="@{/js/isotope.js}"></script>
<script th:src="@{/js/mixitup.js}"></script>
<script th:src="@{/js/appear.js}"></script>
<script th:src="@{/js/script.js}"></script>
<script th:src="@{/js/scroll.js}"></script>
</body>

</html>