<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <title>Find Home - Real Estate HTML Template </title>
    <!-- Style sheets -->
    <link th:href="@{/css/bootstrap.css}" rel="stylesheet">
    <link th:href="@{/css/style.css}" rel="stylesheet">
    <link th:href="@{/css/responsive.css}" rel="stylesheet">
    <link th:href="@{/css/image-upload.css}" rel="stylesheet">


    <link rel="shortcut icon" href="images/favicon.png" type="image/x-icon">
    <link rel="icon" href="images/favicon.png" type="image/x-icon">
    <!-- Responsive -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
</head>

<body>
    <button id="back-to-top-btn"><i class="la la-angle-double-up"></i></button>
    <div class="page-wrapper">
        <!-- Preloader -->
        <div class="preloader"></div>

        <!-- Main Header-->
        <div th:replace="~{user/fragments/fragUserHeader.html}"></div>
        <!--End Main Header -->

        <!--Page Title-->
        <section class="page-title" style="background-image:url(/images/background/7.jpg);">
            <div class="auto-container">
                <div class="inner-container clearfix">
                    <h1>Створити обліковий запис</h1>
                    <ul class="bread-crumb clearfix">
                        <li><a href="/">Головна</a></li>
                        <li>Реєстрація</li>
                    </ul>
                </div>
            </div>
        </section>
        <!--End Page Title-->


        <!--Login Section-->
        <section class="login-section">
            <div class="auto-container">
                <div class="row clearfix" style="justify-content: center;">
                    <div class="column col-md-6 col-sm-12 col-xs-12">
                        <h2>Реєстрація</h2>

                        <!-- Register Form -->
                        <div class="login-form register-form">
                            <!--Login Form-->
                            <form method="post" action="/register" onsubmit ="return validateForm()" enctype="multipart/form-data">

                                <div class="avatar-upload">
                                    <div class="avatar-edit">
                                        <input type='file' id="imageUpload" name="multipartFile" accept=".png, .jpg, .jpeg" />
                                        <label for="imageUpload"></label>
                                    </div>
                                    <div class="avatar-preview">
                                        <div id="imagePreview"
                                            style="background-image: url('images/icons/user-default.png');">
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label>ПІБ</label>
                                    <input type="text" name="fullName" placeholder="ПІБ..." required>
                                </div>

                                <div class="form-group">
                                    <label>Email</label>
                                    <input type="email" name="mail" placeholder="Email..." required>
                                </div>

                                <div class="form-group">
                                    <label>Телефон</label>
                                    <input type="tel" name="phone" placeholder="Телефон..." required value="+380" class="phone_number">
                                </div>

                                <div class="form-group">
                                    <label>Пароль</label>
                                    <input type="password" id="pswd1" name="password" placeholder="Пароль..." required>
                                </div>

                                <div class="form-group">
                                    <label>Підтвердження паролю</label>
                                    <input type="password" id="pswd2" name="confirmPassword" placeholder="Пароль..." required>
                                    <span id = "message2" style="color:red"> </span><br>
                                </div>

                                <div class="form-group centered">
                                    <button class="theme-btn btn-style-one" type="submit"
                                        name="submit-form">Готово</button>
                                </div>
                            </form>
                        </div>
                        <!--End Register Form -->
                    </div>
                </div>
            </div>
        </section>
        <!--End Login Section-->


        <!-- Main Footer -->
        <div th:replace="~{user/fragments/fragUserFooter.html}"></div>
        <!-- End Main Footer -->
    </div>
    <!--End pagewrapper-->

    <script th:src="@{/js/jquery.js}"></script>
    <script th:src="@{/js/popper.min.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
    <script th:src="@{/js/jquery-ui.js}"></script>
    <script th:src="@{/js/appear.js}"></script>
    <script th:src="@{/js/script.js}"></script>
    <script th:src="@{/js/scroll.js}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.inputmask/3.3.4/jquery.inputmask.bundle.min.js"></script>
    <script>
        $('.phone_number').inputmask('+(999)-999-999-999');
        function readURL(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    $('#imagePreview').css('background-image', 'url(' + e.target.result + ')');
                    $('#imagePreview').hide();
                    $('#imagePreview').fadeIn(650);
                }
                reader.readAsDataURL(input.files[0]);
            }
        }
        $("#imageUpload").change(function () {
            readURL(this);
        });

        function validateForm() {
            var pw1 = document.getElementById("pswd1").value;
            var pw2 = document.getElementById("pswd2").value;


            //check empty confirm password field
            if(pw2 === " ") {
                document.getElementById("message2").innerHTML = "**Введіть підтвердження паролю!";
                return false;
            }

            if(pw1 !== pw2) {
                document.getElementById("message2").innerHTML = "*Паролі не співпадають";
                return false;
            } else {

            }
        }
    </script>
</body>

</html>