<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <title>Find Home - Real Estate HTML Template </title>
    <!-- Stylesheets -->
    <link th:href="@{/css/bootstrap.css}" rel="stylesheet">
    <link th:href="@{/css/style.css}" rel="stylesheet">
    <link th:href="@{/css/responsive.css}" rel="stylesheet">

    <link rel="shortcut icon" href="images/favicon.png" type="image/x-icon">
    <link rel="icon" href="images/favicon.png" type="image/x-icon">
    <!-- Responsive -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">

</head>

<body>
<button id="back-to-top-btn"><i class="la la-angle-double-up"></i></button>
<div class="page-wrapper">
    <!-- Preloader -->
    <div class="preloader"></div>

    <!-- Main Header-->
    <div th:replace="~{user/fragments/fragUserHeader.html}"></div>
    <!--End Main Header -->

    <!--Page Title-->
    <section class="page-title" style="background-image:url(/images/background/7.jpg);">
        <div class="auto-container">
            <div class="inner-container clearfix">
                <h1>Список обраної нерухомості</h1>
                <h2 style="width: 50%;">Статус:
                    <span style="color: #00a75e;" th:if="${wishList?.getStatus()?.name()?.equals('RATED')}">оцінено</span>
                    <span style="color: #d23737;" th:if="${wishList?.getStatus()?.name()?.equals('NOT_RATED')}">не оцінено</span>
                    <span style="color: #eaa50a;" th:if="${wishList?.getStatus()?.name()?.equals('WAIT_FOR_RATING')}">очікує оцінки</span>
                </h2>
                <ul style="display: inline-flex; margin-top: 1rem;">
                    <li style="margin-right: 1rem;">
                        <a href="/user/flats/sendForRate" class="theme-btn btn-style-four">оцінити</a>
                    </li>
                    <li>
                        <a href="/user/flats/clearWishList" class="theme-btn btn-style-four" style="background-color: #d23737;">очистити список</a>
                    </li>
                </ul>
                <ul class="bread-crumb clearfix">
                    <li><a href="/">Головна</a></li>
                    <li>Профіль</li>
                </ul>
            </div>
        </div>
    </section>
    <!--End Page Title-->

    <!-- Propery Modern View -->
    <section class="property-modern-view">
        <div class="auto-container">
            <!-- Property Block START-->
            <div class="property-block-four" th:each="item, count : ${wishList?.getList()}" th:classappend="${(count.count%2==0)?'style-two':''}">
                <div class="row" >
                    <div class="image-column col-lg-6 col-md-12 col-sm-12">
                        <div class="inner-column">
                            <figure class="image"><img th:if="${item?.getFlat()?.getImages().size()>0}" th:src="@{'/getImg-'+${item?.getFlat()?.getImages()?.get(0)?.getId()}}" alt=""></figure>
                        </div>
                    </div>

                    <div class="content-column col-lg-6 col-md-12 col-sm-12">
                        <div class="inner-column">
                            <a th:href="@{'/user/flats/deleteWishItem-'+${item.getId()}}"><span class="float-right delete-btn">Видалити</span></a>
                            <h3><a th:href="@{'/flat-'+${item?.getFlat()?.getId()}}" th:text="${item?.getFlat()?.getName()}"></a></h3>
                            <div class="thumb"><img th:src="@{'/getImg-'+${item?.getFlat()?.getCreatedBy()?.getImage()?.getId()}}" alt=""></div>
                            <div class="price"><i class="la la-money"></i> <span th:text="${item?.getFlat()?.getPrice()}"></span> USD</div>
                            <div class="location"><i class="la la-map-marker"></i> <span th:text="'('+${item?.getFlat()?.getDistrict()?.getName()}+') '+${item?.getFlat()?.getAddress()}"></span></div>
                            <div class="text" th:text="${item?.getFlat()?.getDescription()}">Temporibus autem quibusdam et aut officiis debitis is aut rerum necessitatibus saepes eveniet ut etes seo lage voluptates repudiandae sint et molestiae non mes for Creating futures through building pres Creating preservation etes quibusdam.</div>
                            <ul class="property-info clearfix">
                                <li><i class="flaticon-dimension"></i>площа: <span th:text="${flat.getArea().doubleValue()}+' m2'"></span></li>
                                <li><i class="flaticon-sketch-1"></i>кімнат: <span th:text="${flat.getCountOfRooms()}"></span></li>
                                <li><i class="flaticon-building"></i>поверх: <span th:text="${flat.getFloor()}"></span></li>
                                <li><i class="flaticon-home-key"></i>рік: <span th:text="${flat.getYearOfEndingDevelopment()}"></span></li>
                                <li><i class="flaticon-snowflake"></i>опалення: <span th:text="${flat?.getHeatingType()?.getValue()}"></span></li>
                                <li><i class="flaticon-worker"></i>матеріал: <span th:text="${flat?.getMaterialType()?.getValue()}"></span></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Property Block END-->
        </div>
    </section>
    <!--End Propery Modern View -->


    <!-- Main Footer -->
    <div th:replace="~{user/fragments/fragUserFooter.html}"></div>
    <!-- End Main Footer -->

</div>
<!--End pagewrapper-->

<script th:src="@{/js/jquery.js}"></script>
<script th:src="@{/js/popper.min.js}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>
<script th:src="@{/js/jquery-ui.js}"></script>
<script th:src="@{/js/jquery.fancybox.js}"></script>
<script th:src="@{/js/owl.js}"></script>
<script th:src="@{/js/wow.js}"></script>
<script th:src="@{/js/isotope.js}"></script>
<script th:src="@{/js/mixitup.js}"></script>
<script th:src="@{/js/appear.js}"></script>
<script th:src="@{/js/script.js}"></script>
<script th:src="@{/js/scroll.js}"></script>
</body>

</html>