<header class="main-header header-style-three" xmlns:th="http://www.thymeleaf.org">
    <!--Header Top-->
    <div class="header-top">
        <div class="auto-container">
            <div class="inner-container clearfix">
                <div class="top-left">
                    <div class="social-links">
                        <ul class="social-icon-one">
                            <li><a href="#"><i class="la la-instagram"></i></a></li>
                            <li><a href="#"><i class="la la-twitter"></i></a></li>
                            <li><a href="#"><i class="la la-google-plus"></i></a></li>
                            <li><a href="#"><i class="la la-github"></i></a></li>
                            <li><a href="#"><i class="la la-pinterest"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="top-right clearfix">
                    <ul class="clearfix">
                        <li><a href="/login"><span class="la la-sign-in"></span> Login</a></li>
                        <li><a href="/register"><span class="la la-user"></span> Register</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- End Header Top -->
    <!-- Header Upper -->
    <div class="header-upper">
        <div class="auto-container">
            <div class="clearfix">

                <div class="logo-outer">
                    <div class="logo"><a href="/"><img src="images/logo.png" alt="" title=""></a>
                    </div>
                </div>

                <div class="upper-right clearfix">

                    <!--Info Box-->
                    <div class="upper-column info-box">
                        <div class="icon-box"><span class="la la-envelope-o"></span></div>
                        <ul>
                            <li><span>Email:</span></li>
                            <li>info@example.com</li>
                        </ul>

                    </div>

                    <!--Info Box-->
                    <div class="upper-column info-box">
                        <div class="icon-box"><span class="la la-phone"></span></div>
                        <ul>
                            <li><span>Phone:</span></li>
                            <li>(+1) 123 456 7891</li>
                        </ul>
                    </div>

                    <!--Info Box-->
                    <div class="upper-column info-box">
                        <div class="icon-box"><span class="la la-home"></span></div>
                        <ul>
                            <li><span>Address:</span></li>
                            <li>121, King St, VIC 3000, New York</li>
                        </ul>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Header Upper -->


    <!-- Header Lower -->
    <div class="header-lower">
        <div class="auto-container">
            <div class="main-box clearfix">
                <div class="nav-outer clearfix">
                    <!-- Main Menu -->
                    <nav class="main-menu navbar-expand-md navbar-dark">
                        <div class="navbar-header">
                            <!-- Toggle Button -->
                            <button class="navbar-toggler" type="button" data-toggle="collapse"
                                    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                                    aria-expanded="false" aria-label="Toggle navigation">
                                <span class="icon flaticon-menu-1"></span>
                            </button>
                        </div>

                        <div class="collapse navbar-collapse clearfix" id="navbarSupportedContent">
                            <ul class="navigation clearfix">
                                <li><a href="/">Головна</a></li>
                                <li><a href="/allFlats">Нерухомість</a></li>
                                <li><a href="/agents">Агенти</a></li>

                                <li class="dropdown"><a href="#">Профіль</a>
                                    <ul>
                                        <li><a href="/account">Акаунт</a></li>
                                        <li><a href="/myFlats-XXX">Мої квартири</a></li>
                                        <li><a href="/wishlist">Обрані</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </nav><!-- Main Menu End-->

                    <!-- Main Menu End-->
                    <div class="outer-box">
                        <div class="btn-box">
                            <a href="#" class="theme-btn btn-style-four">Додати нерухомість</a>
                        </div>

                        <!--Search Box-->
                        <div class="search-box-outer">
                            <div class="dropdown">
                                <button class="search-box-btn dropdown-toggle" type="button" id="dropdownMenu3"
                                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span
                                        class="la la-search"></span></button>
                                <ul class="dropdown-menu pull-right search-panel"
                                    aria-labelledby="dropdownMenu3">
                                    <li class="panel-outer">
                                        <div class="form-container">
                                            <form method="post"
                                                  action="http://expert-themes.com/html/willies/blog.html">
                                                <div class="form-group">
                                                    <input type="search" name="field-name" value=""
                                                           placeholder="Search Here" required>
                                                    <button type="submit" class="search-btn"><span
                                                            class="la la-search"></span></button>
                                                </div>
                                            </form>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--End Header Lower-->

    <!-- Sticky Header  -->
    <div class="sticky-header">
        <div class="auto-container clearfix">
            <!--Logo-->
            <div class="logo pull-left">
                <a href="/" title=""><img src="images/logo.png" alt="" title=""></a>
            </div>
            <!--Right Col-->
            <div class="pull-right">
                <!-- Main Menu -->
                <nav class="main-menu">
                    <div class="navbar-collapse show collapse clearfix">
                        <ul class="navigation clearfix">
                            <li><a href="/">Головна</a></li>
                            <li><a href="/allFlats">Нерухомість</a></li>
                            <li><a href="/agents">Агенти</a></li>

                            <li class="dropdown"><a href="#">Профіль</a>
                                <ul>
                                    <li><a href="/account">Акаунт</a></li>
                                    <li><a href="/myFlats-XXX">Мої квартири</a></li>
                                    <li><a href="/wishlist">Обрані</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </nav><!-- Main Menu End-->
            </div>
        </div>
    </div><!-- End Sticky Menu -->
</header>