<footer class="main-footer" style="background-image: url(images/background/10.jpg);" xmlns:th="http://www.thymeleaf.org">
    <div class="auto-container">
        <div class="upper-box">
            <div class="row">
                <!-- Upper column -->
                <div class="upper-column col-lg-3 col-md-12 col-sm-12">
                    <div class="footer-logo">
                        <figure class="image"><a href="/"><img src="images/logo-2.png" alt=""></a>
                        </figure>
                    </div>
                </div>

                <!-- Upper column -->
                <div class="upper-column col-lg-6 col-md-12 col-sm-12">

                </div>

                <!-- Upper column -->
                <div class="upper-column col-lg-3 col-md-12 col-sm-12" style="padding-top: 1rem;">
                    <div class="social-links">
                        <ul class="social-icon-two">
                            <li><a href="#"><i class="la la-instagram"></i></a></li>
                            <li><a href="#"><i class="la la-twitter"></i></a></li>
                            <li><a href="#"><i class="la la-google-plus"></i></a></li>
                            <li><a href="#"><i class="la la-github"></i></a></li>
                            <li><a href="#"><i class="la la-pinterest"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--Footer Bottom-->
    <div class="footer-bottom">
        <div class="auto-container">
            <div class="inner-container clearfix">
                <div class="copyright-text">
                    <p>Copyright © <script>
                        var d = new Date();
                        document.write(d.getFullYear());
                    </script> Made by Victoria Ieremenko.</p>
                </div>
            </div>
        </div>
    </div>
</footer>